{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
